.container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
  
}
.inputText {
  width: 40%;
  margin-bottom: 10px;
  border-radius: 9px;
}

.inputPass {
  width: 40%;
  margin-bottom: 10px;
  border-radius: 9px;
}
