

@media only screen and (max-width: 600px) {
  * {
    font-size: 13px;
  }
  input[type="date"] {
    margin-left: 25%;
  }
  .dateFormBtn {
    margin-right: 35%;
  }
  .actionBtn{
    width: 140%;
    margin-left: -5px;
    
  }
  #searchByItemName{
    margin-left: 25%;
  }

}
